@inject ISportsmanService SportsmanService
@inject NavigationManager navigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Довідник фаната</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="btn-group">
            <div class="nav-item px-3 pb-3 btn ">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> База
                </NavLink>
            </div>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
               <p>baza</p>
            </ul>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/record" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Рекорд
            </NavLink>
        </div>

    </nav>




</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SportsmanService.GetSports();
    }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }
    void ShowSportCategory(int id)
    {
        navigationManager.NavigateTo($"/sportcategory/{id}");
    }
}
