@inject ISportsmanService SportsmanService
@inject NavigationManager navigationManager

<div class="top-row ps-3 navbar navbar-dark">
        <a class="navbar-brand" href="">Довідник фаната</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        </button>
</div>

   



@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }

}
